.card {
  position: relative;
  width: 600px;
  max-width: 85vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card > h3 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: var(--color-black);
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  height: 55vh;
}

.swipe {
  position: absolute;
}
