body {
  font-family: "Lato";
}

:root {
  --color-red: #f44336;
  --color-green: #4caf50;
  --color-white: #fff;
  --color-gray: #fbfbfb;
  --color-black: #000;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.cat-app {
  width: 600px;
  max-width: 85vw;
  padding-top: 5vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background: var(--color-gray);
  padding: 0 20px;
}

.helper {
  width: 100%;
  display: flex;
}

.swipe-left,
.swipe-right {
  width: 50%;
  background: var(--color-green);
  padding: 20px 10px;
  color: var(--color-white);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.swipe-left {
  background: var(--color-red);
}

.matched {
  color: var(--color-green);
  text-transform: uppercase;
}
